 <div>
    <div>
      <h2>You Are Selected {{customerId}}</h2>
      <ol>
        <li><strong>tittle:</strong> <span>{{customers[customerId].tittle}}</span></li>
        <li><strong>position:</strong> <span>{{customers[customerId]. responsible}}</span></li>
        <li><strong>department:</strong> <span>{{customers[customerId].description}}</span></li>
        <li><strong>salary:</strong><span>{{customers[customerId].severity}}</span></li>
        <!-- <li><strong>Company:</strong> <span>{{customers[customerId].company.name}}</span></li>
        <li><strong>Website:</strong> <span>{{customers[customerId].website}}</span></li> --> -->
       </ol>
      
    </div>
  </div>  
   